body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.section {
    padding: 100px 20px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home {
    background: #f1f1f1; /* Light grey background */
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 20px 20px;
    color: rgb(167, 30, 30);
    animation: fadeIn 2s ease-in-out;
}

.vector-image {
    position: absolute;
    width: 100px;
    height: auto;
}

.top-left {
    top: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

#about {
    background-color: #f1f1f1; /* Light grey background for About Me section */
    color: #333;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.cartoon-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px; /* Position the image to the right */
}

.timeline {
    position: relative;
    max-width: 400px; /* Make the timeline smaller */
    margin: 0 auto;
}

.timeline-item:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 50%;
    border-top: 20px dashed #333; /* Draw a dashed line */
    top: -14px;
    left: 23px;
    margin-left: -1px;
    z-index: 1; /* Ensure the dashed line is behind the icons */
}


.timeline-item:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 50%;
    border-top: 20px dashed #333; /* Draw a dashed line */
    top: -200px;
    left: 23px;
    margin-left: -1px;
    z-index: 1; /* Ensure the dashed line is behind the icons */
}

.timeline-item:nth-child(4)::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 50%;
    border-top: 20px dashed #333; /* Draw a dashed line */
    top: -255px;
    left: 23px;
    margin-left: -1px;
    z-index: 1; /* Ensure the dashed line is behind the icons */
}



.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background: #333;
    top: 220px;
    bottom: 70px;
    left: 23px;
    margin-left: 0px;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 5px 10px; /* Reduce padding */
    position: relative;
}

.timeline-icon {
    width: 30px; /* Reduce icon size */
    height: 30px; /* Reduce icon size */
    background: #6a0dad;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    z-index: 2; /* Ensure the icons are in front of the line */
}

.timeline-content {
    background: #fff;
    padding: 5px 10px; /* Reduce padding */
    border-radius: 6px;
    width: 200px; /* Reduce width */
}

#research {
    background-color: #e0f7fa; /* Light blue background for Research Publications and Presentations section */
    color: #333;
}

#projects {
    background-color: #f1f1f1; /* Light grey background for Projects section */
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
}

footer a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
    transition: transform 0.3s;
}

footer a:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Typing effect */
#typing-container {
    height: 2em; /* Set a fixed height for the container */
}

#typing-text {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}