body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home {
    background: #f1f1f1; /* Light grey background */
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 20px 20px;
    color: rgb(167, 30, 30);
    animation: fadeIn 2s ease-in-out;
}

#about {
    background-color: #f1f1f1; /* Light grey background for About Me section */
    color: #333;
}

#research {
    background-color: #e0f7fa; /* Light blue background for Research Publications and Presentations section */
    color: #333;
}

#projects {
    background-color: #f1f1f1; /* Light grey background for Projects section */
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
    transition: transform 0.3s;
}

footer a:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Typing effect */
#typing-container {
    height: 2em; /* Set a fixed height for the container */
}

#typing-text {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}