* {
    margin: 0;
    padding: 0;
}

/* Main header */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgb(218, 215, 205, 1), rgb(218, 215, 205, 0.5), rgb(218, 215, 205, 0));
    z-index: 1000;
    /* Ensure the header is above other content */
    display: flex;
    justify-content: center;
    /* Center the menu horizontally */
    padding: 10px 0;
}

/* Main menu */
#main-menu {
    display: flex;
    align-items: center;
}

#menu-link {
    text-decoration: none;
    color: rgb(52, 78, 65);
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s ease;
    /* Smooth transition for color */
    z-index: 1100;
    /* Ensure the menu icon is above other content */
    background: none;
    /* Remove background */
    border: none;
    /* Remove border */
    outline: none;
    /* Remove outline */
}

#nav-icon4 {
    width: 30px;
    height: 22.5px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 4.5px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1.5px;
    left: 4px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19.5px;
    left: 4px;
}

#dynamic-menu {
    display: none;
    /* Initially hide the menu */
    max-height: 0;
    /* Initially hide the menu */
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* Smooth transition for dropdown */
    position: absolute;
    top: 5%;
    /* Position the dropdown below the menu link */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(10, 212, 74);
    /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 95%;
    /* Full width */
    border-radius: 5px;
    z-index: 1000;
}

#dynamic-menu ul {
    list-style: none;
    padding-top: 20px;
    /* Reduced spacing at the top */
    padding-left: 20px;
    margin: 0;
}

#dynamic-menu ul li {
    display: block;
    margin: 12vh 0;
    /* Spacing between items is 15% of the page height */
}

#dynamic-menu ul li a {
    text-decoration: none;
    color: #344e41ff;
    /* Text color */
    font-size: 1.2em;
    transition: color 1s ease, transform 1s ease, font-weight 0.1s ease;
}

#dynamic-menu ul li a i {
    margin-right: 10px;
    /* Space between the icon and the text */
    transition: transform 0.5s ease;
}

#dynamic-menu ul li a:hover {
    color: #3a5a40ff;
    /* Lighter color on hover */
    font-weight: bold;
}

#dynamic-menu ul li a:hover i {
    transform: scale(1.1);
    /* Icon scales on hover */
}