#home {
    background: rgb(218, 215, 205); /* Light grey background */
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 20px 20px;
    color: rgb(52, 78, 65);
    animation: fadeIn 2s ease-in-out;
    width: 100%; /* Ensure home section takes full width */
    min-height: 100vh; /* Increase the height of the home section to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */

}

.vector-image {
    position: absolute;
    width: 100px;
    height: auto;
}

.top-left {
    top: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

/* Typing effect */
#typing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    width: 100%; /* Ensure the container takes full width */
    margin: 0 auto; /* Center the container */
    height: 100px; /* Fixed height for the container */
    position: relative; /* Position relative for centering */
}

.centered-text {
    margin-top: 10px; /* Move the text down slightly */
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure the text container takes full width */
    margin: 0 auto; /* Center the text container */
    white-space: normal; /* Allow text to wrap */
    position: relative; /* Position relative for centering */
}

#typing-prefix, #typing-text {
    display: inline;
}

#typing-text {
    font-size: 2em;
    white-space: normal;
    overflow: hidden;
    border-right: .15em solid rgb(218, 215, 205);
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(218, 215, 205); }
}

/* Main menu */
#main-menu {
    display: flex;
    align-items: center;
}

#menu-link {
    text-decoration: none;
    color: rgb(52, 78, 65);
    font-size: 1.2em;
    cursor: pointer;
}

#dynamic-menu {
    display: none; /* Initially hide the menu */
    max-height: 0; /* Initially hide the menu */
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Smooth transition for dropdown */
    position: absolute;
    top: 40px; /* Position the dropdown below the menu link */
    left: 50%;
    transform: translateX(-50%);
    background-color: black; /* Set background color to black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#dynamic-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#dynamic-menu ul li {
    display: block; /* Display each menu item on a separate line */
    margin-bottom: 10px; /* Add space between menu items */
}

#dynamic-menu ul li a {
    text-decoration: none;
    color: white; /* Set text color to white */
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease; /* Add font-weight to the transition */
}

#dynamic-menu ul li a i {
    margin-right: 10px; /* Add space between the icon and the text */
    transition: transform 0.3s ease; /* Add transition for the icon */
}

#dynamic-menu ul li a:hover {
    color: rgb(200, 200, 200); /* Lighter color on hover */
    font-weight: bold; /* Make the text bold on hover */
}

#dynamic-menu ul li a:hover i {
    transform: scale(1.3); /* Make the icon larger on hover */
}