body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%; /* Ensure body takes full width */
}

.section {
    padding: 100px 20px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure section takes full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    opacity: 0; /* Initially hide sections */
    transform: translateY(50px); /* Initially move sections down */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */
}
.section.visible {
    opacity: 1; /* Show sections when they become visible */
    transform: translateY(0); /* Move sections to their original position */
}

.centered-text {
    text-align: left;
    width: 50%; /* Fix the text at 50% of the screen width */
    margin: 0 auto; /* Center the text container */
    white-space: nowrap; /* Prevent text from wrapping */
}

#typing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    width: 50%; /* Ensure the container takes 50% of the screen width */
    margin: 0 auto; /* Center the container */
}

#typing-prefix, #typing-text {
    display: inline;
}

footer {
    text-align: center;
    padding: 20px;
    color: #333;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
    background-color: var(--footer-bg-color); /* Default to light grey nearly transparent if not set */
    position: fixed; /* Fix the footer at the bottom */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

footer a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
    transition: transform 0.3s;
}8

footer a:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}